<html>
<% include partials/head.ejs %>

  <body>
    <% include partials/navigation.ejs %>


    <div class='container'>
      <div class="jumbotron">
        <br>
        <img src="assets/img/logo.png" class="logo" width="100px">
        <h1>Studynator</h1>
        <h2>Add Homework</h2>
        <br>
        <%- errors %>
      </div>

      <form class="form-signin" method="POST">
      <div class="form-group">
        <label for="subject">Name</label>
        <select class="form-control" id="subject" name="subject">
          <%- subjects %>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required autofocus>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" required>
      </div>
      <div class="form-group">
        <label for="date">Due Date</label>
        <input type="date" class="form-control" id="date" name="date" required>
      </div>
      <button class="btn btn-primary" type="submit">Add Homework</button>
    </form>
    </div>

    <script>
      if ( $('#date')[0].type != 'date' ) $('#date').datepicker();
    </script>

  </body>

</html>
