<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/navigation.ejs %>


      <div class='container'>
        <div class="jumbotron">
          <br>
          <img src="/assets/img/logo.png" class="logo" width="100px">
          <h1>Studynator</h1>
        </div>


      <%- calendar_tbl %>

      <br>
    </div>

    <script>
      function openDay(day){
        //console.log('chosen day: ' + day);
        window.location.href = '/day' + day
      }
    </script>

  </body>
</html>
