<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/navigation.ejs %>


      <div class='container'>
        <div class="jumbotron">
          <br>
          <img src="/assets/img/logo.png" class="logo" width="100px">
          <h1>Studynator</h1>
        </div>

      <br>

      <h3>Homework for <%- date %></h3>
      <%- content_homework %>
      <br>

      <h3>Exams on <%- date %></h3>
      <%- content_exam %>
      <br>

      <br>
    </div>

    <script>
      function openDay(year, month, day){
        var formatted_day = day.toString()
        if(formatted_day.length == 1){
          formatted_day = '0' + formatted_day
        }
        var link = '/calendar/' + year.toString() + '/' + month.toString() + '/' + formatted_day.toString()
        window.location.href = link
      }

      function setPriority(exam_id){
        //console.log('chosen day: ' + day);
        window.location.href = '/addpriority/' + exam_id
      }
    </script>

  </body>
</html>
