<html>
  <% include partials/head.ejs %>
  <body>

    <div class='container'>
      <div class="jumbotron">
        <br>
        <img src="assets/img/logo.png" class="logo" width="250px">
        <h1>Studynator</h1>
        <p>Your tool to boost learning results.</p>
        <p><a href="/whatisthis" class="btn btn-primary btn-lg">Read more...</a></p>
      </div>

      <%- table %>
    </div>

  </body>
</html>
