<html>
<% include partials/head.ejs %>

  <body>
    <% include partials/navigation.ejs %>


      <div class='container'>
        <div class="jumbotron">
          <br>
          <img src="assets/img/logo.png" class="logo" width="100px">
          <h1>Studynator</h1>
          Welcome, <b><%- session.username %></b>
        </div>

        <h2>Overview</h2>

        <div class="calendar-buttons">
          <button type="button" class="btn btn-primary" onclick="location.href = '/addhomework';">Add Homework</button>
          <button type="button" class="btn btn-primary" onclick="location.href = '/addexam';">Add Exams</button>
        </div>

        <br>

        <h3>Upcoming Homework</h3>
        <%- content_homework %>
        <br>

        <h3>Upcoming Exams</h3>
        <%- content_exam %>
        <br>

        <div id="calendar">
        </div>

        <br>
      </div>

  </body>

</html>
