<html>
  <% include partials/head.ejs %>
  <body>

    <div class='container'>
      <div class="jumbotron">
        <br>
        <img src="assets/img/logo.png" class="logo" width="250px">
        <h1>Studynator</h1>
        <p>Your tool to boost learning results.</p>
        <p><a href="/whatisthis" class="btn btn-primary btn-lg">Read more...</a></p>
      </div>


      <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <%- errors %>
        <br>
        <br>
        <label for="email" class="sr-only">Username</label>
        <input type="email" id="email" name = "email" class="form-control btn-margin" placeholder="E-Mail" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control btn-margin" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button type="button" id="login" onclick="window.location='/signup';" class="btn btn-sm btn-default btn-block">Sign up</button>
      </form>

    </div>

  </body>
</html>
