table, th, td {
   border: none;
}

table {
    width: 100%;
}

th{
  height: 50px;

  text-align: center;
  vertical-align: top;
}

td{
  height: 100px;

  text-align: right;
  vertical-align: top;

  border-bottom: 1px solid #ddd;

  padding: 20px;
}

.clickable:hover {
  background-color: #50545b
}

.muted {
  color: #e0b28f;
}

.normal {
  background-color: #2e69c9;
}
