body{
  font-size: 180%;
}

table, th, td {
   border: none;
}

table {
    width: 100%;
}

th{
  height: 50px;

  text-align: center;
  vertical-align: top;
}

td{
  height: 100px;

  text-align: right;
  vertical-align: top;

  border-bottom: 1px solid #ddd;

  padding: 20px;

  font-size: 14pt;
}

.clickable:hover {
  background-color: #50545b
}

.muted {
  color: #e0b28f;
}

.normal {
  background-color: #2e69c9;
}

.prior1 {
  background-color: #CC3633;
}

.prior2 {
  background-color: #CC7333;
}

.prior3 {
  background-color: #CCBF33;
}

.prior4 {
  background-color: #A1CC33;
}

.prior5 {
  background-color: #33CC47;
}
